	.top_footer {
			height: 200px;
			margin-top: 20px;
			width: auto;
			background-color: #003147;
			color: #82c4ca;
		}

		.top_footer .foot {
			text-align: center;
			margin-top: 0px;
			position: relative;
			width: auto;
			height: auto;
			display: grid;
			grid-template-columns: auto auto auto;
		}

		.top_footer .foot .third h3 {
			padding-bottom: 20px;
			border-bottom: 2px solid black;
			margin: 20px 20px;
		}

		.top_footer .foot .third div {
			text-align: left;
			right: 200px;
		}

		.copyr {
			background-color: #003147;
			color: white;
			padding-bottom: 20px;
		}

		.copyr a {
			text-decoration: none;
		}

		.D {
			width: 85%;
			height: 380px;

			background-color: #f0f0f0;
			margin-top: 55px;
			border-top: 3px solid #FFA500;
			display: flex;
			margin-left: 76px;
			font-size: 16px;
			font-weight: 400;
			padding-top: 0%;
			padding-left: 10px;
		}