
/*
    -----------------------------------------------------------------------------
                                Form inscription 
    --------------------------------------------------------------------------
*/

body{
    margin: 0;
    padding: 0;    
    font-family: 'Courier New', Courier, monospace;    
    background: rgba(255, 255, 255,0.3);   
    padding-top: 25px; 
    width: 100%;
}

.form{
    position: absolute;
    top: 120%;
    left: 60%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
}
.left{
    position: absolute;
    padding-top: 7%;
    top: 18%;
    left: 0%;
    width: 25%;
    margin: 0;
    height: 1300px;
    background-color: #9db3a255;
    text-align: center;
}

.left h1{
    color: #031a0955;
    font-size: 26px;
    text-align: center;
    padding: 2%;
    margin: 2%;
}
.left img{
    margin-top: 20%;
    width: 80%;
    height: 30%;
}



.form h1{
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 40px;
    font-weight:bold;
    color: #0a4717;
    border-bottom: 1px solid rgb(109, 37, 241);
}
.form form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .field{
    position: relative;
    border-bottom: 0.5px solid #faeeee;
    margin: 20px 0;
}
.field input{
    width: 100%;
    padding: 0 5px;
 height: 40px;
    font-size: 16px;
    border: none;
    background: rgba(186, 194, 190, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
.select{
    display: flex;
}

select{
    width: 80%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    margin-left: 5%;
}

.s_title{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin:0 5% 0 10%;
    font-weight: 700;
}

.s_title label{
    width: 30%;
    margin-left: 5%;
    text-align: center;
     border-bottom: 1px solid orangered;
}

.field .label{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #adadad;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    
}
.field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}
.field input:focus ~ .label,
.field input:valid ~ .label{
    top: -5px;
    color: #2691d9;
}

.field input:focus ~ .label span{
    color: red;
    font-weight: 1000;

}
.field input:valid ~ .label span{    
    color: rgb(9, 250, 9);
    font-weight: 1000;
}

.field input:focus ~ span::before,
.field input:valid ~span::before{
    width: 100%;
}

.label_select{
    position: relative;
    color: #530947;

}

.contract, .action{
    display: flex;
    width: 100%;
    padding: 0 5% 2% 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #2691d9;
}

.action input{
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    border: 0;
    padding: 2%;
    margin: 2%;
    color: #91167c;
    border-radius: 10px;
}

.action #submit:hover{
    background-color:#2fc714 ;
    color: #fff;
    cursor: pointer;
}

.action #reset:hover{
    background-color: rgb(177, 55, 55);
    color: #fff;
    cursor: pointer;
}

.left{
    position: fixed;
    padding-top: 15%;
    z-index: -1;
    top: 0%;
    left: 0%;
    width: 25%;
    margin: 0;
    height: 520px;
    background-color: #9db3a255;
    text-align: center;
}

.left h1{
    color: #031a0955;
    font-size: 26px;
    text-align: center;
    padding: 2%;
    margin: 0%;
}
.left img{
    margin-top: 11%;
    width: 80%;
    height: 50%;
}