@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

body, html {
  background-color: #fff;
  margin: 0;
  height: 100px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Tw Cen MT;
  font-style: normal; }

.banniere {
  
  height: 100px;
 /* margin-bottom: 30px;*/
  background-color: #003147;
  border: 1px solid #003147;
  border-bottom: 1px solid #fff;
  /*background-image: linear-gradient(
  	$banner_bg_color1,
  	$banner_bg_color2 60%,

  	<h1 class="w3-jumbo"><b>Interior Design</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Showcase.</b></h1>


  	);*/ }
  .banniere #top_header {
    padding: .7em 0;
  
    background-color: #003147;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .banniere #top_header .gauche {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
          margin-left: 0%;
              align-items: center;
      padding-left: 0px; }
      .banniere #top_header .gauche a {
        font-size: 1.3em;
        margin-right: 300px;
        color: #82c4ca;
        text-decoration: none;
        
        font-weight: 600;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
        .banniere #top_header .gauche a:hover {
          color: #fff;
          -webkit-transform: scale(1.1, 1.1);
                  transform: scale(1.1, 1.1); }
        .banniere #top_header .gauche a.brand {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .banniere #top_header .gauche a img {
         
          border-radius: 100%;
          display: inline-block;
          height: 70px;
          line-height: 70px;
          width: 80px;
          font-weight: 300;
          margin-right: .6em; }
    
    .banniere #top_header .droite {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 0 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      
      .banniere #top_header .droite a {
        font-size: 1.3em;
        margin-right: 50px;
        color: #82c4ca;
        text-decoration: none;
        font-weight: 600;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
        .banniere #top_header .droite a:hover {
          color: #fff;
          -webkit-transform: scale(1.1, 1.1);
                  transform: scale(1.1, 1.1); }
        .banniere #top_header .droite a.back_button {
          margin-left: 20px;
          font-size: 20px;
          margin-top: 1em; }
  
  .baner{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 13px;
}
.baner img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
}
