body{
    margin: 0;
    padding: 5%;
    background-color: #9db3a255;
    text-align: center;
}

h1{
    color: #031a0955;
    font-size: 30px;
    text-align: center;
    padding: 2%;
    margin: 2%;
}
img{

    width: 80%;
    height: 10%;
}