body{
    margin: 0;
    padding: 0;   
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: rgb(27, 3, 49);
}
.identifiant{
    width: 93%;
    height: 20px;
    display: flex;
    margin-top: 100px;
    padding: 2% 2% 2% 5%;
    border-top: 1px solid lavender;
    background-color: rgb(255, 255, 255);
}

.body{
    width: 90%;
    height: 35vw;
    margin:2% 3% 0% 3%;
    padding: 1%;
    background-color: rgb(242, 250, 242);
    

}


.image{
    background-color: rgb(4, 4, 83);
    width: 100px;
    height: 80px;    
    padding: 2%;
    font-size: 60px;
    font-weight: bold;
    margin-right: 2%;
}
.image p{
    margin: auto;
}
.attribut{
    
    width: 100%;
}
.top{
    display: flex;
}
.top_label{
    border-bottom: 1px solid lavender;
}
.bottom_label{
    width: 100%;
    display: flex;    
}
.mail{
    position: absolute;
    right: 100px;
}
h1{
    border-bottom: 2px solid blue;
}
.bottom{
    width: 100%;
    margin: auto;        
}

.left{
    display: flex;
    float: left;
    flex-direction: column;        
}
.right{
    float: right;    
}